
<div *ngIf="aluno">
    <h2><span jhiTranslate="turmas2App.aluno.detail.title">Aluno</span> {{aluno.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="turmas2App.aluno.nome">Nome</span></dt>
        <dd>
            <span>{{aluno.nome}}</span>
        </dd>
        <dt><span jhiTranslate="turmas2App.aluno.dataNascimento">Data Nascimento</span></dt>
        <dd>
            <span>{{aluno.dataNascimento | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="turmas2App.aluno.idade">Idade</span></dt>
        <dd>
            <span>{{aluno.idade}}</span>
        </dd>
        <dt><span jhiTranslate="turmas2App.aluno.matricula">Matricula</span></dt>
        <dd>
            <span>{{aluno.matricula}}</span>
        </dd>
        <dt><span jhiTranslate="turmas2App.aluno.sexo">Sexo</span></dt>
        <dd>
            <span>{{aluno.sexo}}</span>
        </dd>
        <dt><span jhiTranslate="turmas2App.aluno.turma">Turma</span></dt>
        <dd>
            <div *ngIf="aluno.turma">
                <a [routerLink]="['/turma', aluno.turma?.id]">{{aluno.turma?.numero}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aluno/'+ aluno.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
